<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uic.spring20.kammardiprajwal.musicserver">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <service android:name=".MusicCentralImpl"
            android:label="MusicCentralService"
            android:exported="true">
            <intent-filter>
                <action android:name="edu.uic.spring20.kammardiprajwal.musicserver.IMusicPlayService"></action>
            </intent-filter>
        </service>

    </application>
    
    

</manifest>
